.explore {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem 0;
}

.explore::-webkit-scrollbar {
  width: 5px;
}

.explore::-webkit-scrollbar-thumb {
  background-color: #ebbe54;
}

.explore__card {
  align-items: center;
  border: 1px solid #ebbe54;
  border-radius: 0.25rem;
  color: #ebbe54;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  text-decoration: none;
}

.explore__card:hover {
  background-color: #ebbe54;
  color: #0f172a;
}

.explore__card:hover svg {
  color: #0f172a;
}

.explore__card h1 {
  font-size: 1.1rem;
}

.explore__card:last-child {
  cursor: wait;
  opacity: 0.5;
}
