---
import "../styles/global.css";

import Count from "../components/Count.astro";
import Filter from "../components/Filter.astro";
import Header from "../components/Header.astro";
import Intro from "../components/Intro.astro";
import Questions from "../components/Questions.astro";
import { getData } from "../data/data";

const { data, easyCount, topics } = await getData();
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://kit.fontawesome.com/70345ad354.js" crossorigin="anonymous">

</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-STHEBHP9GE">

</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-STHEBHP9GE");
</script>
<title>Rafael's List</title>

<body class="page">
  <Header />
  <Count easyCount={easyCount} />
  <Intro />
  <Filter topics={[...topics.values()]} />
  <Questions data={data} />
</body>
