---
const { topics } = Astro.props;
---

<script>
  const questionsContainer = document.querySelector(".list__questions");
  const questions = Array.from(questionsContainer.children);
  const topicsSelect = document.getElementById("topics");

  const filteredQuestionsFragment = new DocumentFragment();

  topicsSelect.addEventListener("input", (e) => {
    const topic = (e.target as HTMLSelectElement).value;

    if (topic == undefined || topic.length === 0) {
      filteredQuestionsFragment.append(...questions);
    } else {
      const filteredQuestions = questions.filter((question) =>
        Array.from(question.querySelectorAll(".list__details p"))
          .map((topic) => topic.textContent)
          .includes(topic)
      );
      console.log(filteredQuestions);
      filteredQuestionsFragment.append(...filteredQuestions);
    }

    questionsContainer.innerHTML = "";
    questionsContainer.append(filteredQuestionsFragment);
  });
</script>

<section class="filter">
  <label class="topics__label" for="topics">Choose a topic:</label>

  <select class="topics" name="topics" id="topics">
    <option value="">--Please choose a topic--</option>
    {topics.map((topic: string) => <option value={topic}>{topic}</option>)}
  </select>
</section>
