---
---

<header class="header">
  <h1 class="header__heading">Rafael's List</h1>
  <nav class="header__nav">
    <a
      href="https://github.com/User5842/rafaels-list"
      target="_blank"
      rel="noopener"
      ><i class="fa-brands fa-github-alt header__nav-item"></i>
    </a>
    <a
      href="https://www.youtube.com/c/leetcodelive"
      target="_blank"
      rel="noopener"
      ><i class="fa-brands fa-youtube header__nav-item"></i>
    </a>
    <a href="https://discord.gg/B45J8HKNth" target="_blank" rel="noopener"
      ><i class="fa-brands fa-discord header__nav-item"></i>
    </a>
  </nav>
</header>
