---
---

<section class="intro">
  <p>
    Here's a list of questions I came up with while <a
      href="https://www.youtube.com/playlist?list=PLWzGjDEgHSJrDEUbJxp1J9KFyYg4G4l9Y"
      target="_blank"
      rel="noopener"
      >streaming myself doing every single question on LeetCode
    </a>. Each question links to a part in a stream where I talk about the problem. My intent is not to necessarily
    teach you how to solve these questions (there are plenty of resources for that), but rather, to give you a raw look
    into my thought process. You'll watch me make mistakes, hear me struggle and hopefully develop an optimized
    algorithm by the end.
  </p>
</section>
