---
const { data } = Astro.props;
---

<section class="list">
  <details>
    <summary class="list__difficulty">Easy</summary>
    <ul class="list__questions">
      {data.easy.map((question) => (
        <li class="list__question">
          <h3>{question.name}</h3>
          <div class="list__meta">
            <a
              class="list__link"
              href={question.video}
              target="_blank"
              rel="noopener"
            >
              Stream Clip
            </a>
            <a
              class="list__link"
              href={question.link}
              target="_blank"
              rel="noopener"
            >
              LeetCode Question
            </a>
            <details class="list__details">
              <summary>Topics</summary>
              {question.topics.map((topic) => (
                <p>{topic}</p>
              ))}
            </details>
          </div>
        </li>
      ))}
    </ul>
  </details>
</section>
