.search {
  align-items: center;
  display: flex;
  flex: 0.5;
  gap: 1rem;
  margin: 0;
}

.search__input {
  background-color: #0f172a;
  border: 1px solid #ebbe54;
  border-radius: 0.25rem;
  color: white;
  font-family: inherit;
  font-size: inherit;
  max-width: 35ch;
  min-width: 15ch;
  padding: 0.25rem;
  width: 100%;
}
