.main {
  margin: 0 auto;
  max-width: 1024px;
  padding: 1rem 0;
  width: calc(100% - 200px);
}

.controls {
  align-items: center;
  display: flex;
  margin-top: 1rem;
}

@media screen and (max-width: 1100px) {
  .controls {
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    width: fit-content;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 575px) {
  .main {
    width: calc(100% - 60px);
  }
}
